<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container-fluid">
        <div class="row bg-dark text-white">
            <h1 class="text-center">Weather App</h1>
        </div>
    </div>

    <div class="container">
        <div class="row text-center my-5">
            <div class="col-6 my-3">
                <h3 class="bold-text text-center ">Search for Weather:</h3> <br>
                <form [formGroup]="weatherSearchForm" (ngSubmit)="sendvalues(weatherSearchForm.value)"> 
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Please input a Location"
                            formControlName="location" />
                    </div>
                    <div class="text-center"><br>
                        <button type="submit" class="btn btn-success btn-md">
                            Search for the weather</button>
                    </div>
                </form>
            </div>

            <div class="col-6 my-3">
                <h3 class="bold-text text-center">Weather Details:</h3><br><br>
                <p class="bold-text text-center ">Current Temperature: {{weatherdata?.current?.temperature}}&#176;C
                </p>
                <p class="text-center bold-text">Humidity: {{weatherdata?.current?.humidity}}%</p>
                <p class="text-center bold-text">Feels like: {{weatherdata?.current?.feelslike}}&#176;C</p>
                <p class="text-center bold-text">Location at: {{ this.weatherdata?.location.name}},
                    {{this.weatherdata?.location.country}}</p>
            </div>

        </div>
    </div>
</body>

</html>